.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log

.DS_Store
node_modules/
/frontend/vote/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/vote/test/unit/coverage/
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml


