.DS_Store
node_modules/*
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


# workaround for https://github.com/webpack/webpack-dev-server/issues/1259 , i need to save worked version
!node_modules/webpack-dev-server
